#root {
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}
main {
display: flex;
    flex-direction: column;
    height: 100vh;

}

.searchresult{
  background-color: white;

}


.search_header{
  background-image: url('./assets/pattern-bg-desktop.png');
  background-size:100% 100%;
    /* flex: 0 1 auto; */

}

.search_title{
  color: white;
}

.map_container{
    flex: 1 1 auto;

}

.leaflet-container {
height: 100%;
width: 100%;
margin: auto;


}